*,
*::after,
*::before {
  box-sizing: border-box;
}

.analog {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: aliceblue;
  border: 2px solid pink;
  position: relative;
  z-index: -1;
}
.analog .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.5rem;
}
.analog .number1 {
  --rotation: 30deg;
}
.analog .number2 {
  --rotation: 60deg;
}
.analog .number3 {
  --rotation: 90deg;
}
.analog .number4 {
  --rotation: 120deg;
}
.analog .number5 {
  --rotation: 150deg;
}
.analog .number6 {
  --rotation: 180deg;
}
.analog .number7 {
  --rotation: 210deg;
}
.analog .number8 {
  --rotation: 240deg;
}
.analog .number9 {
  --rotation: 270deg;
}
.analog .number10 {
  --rotation: 300deg;
}
.analog .number11 {
  --rotation: 330deg;
}
.analog .number12 {
  --rotation: 360deg;
}
.analog .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-color: black;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 10;
  transform: translate(50%) rotate(calc(var(--rotation) * 1deg));
  transform-origin: bottom;
}
.analog::after {
  content: '';
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 47%;
  left: 49%;
  transform: translate(-50% -50%);
  border-radius: 50%;
}
.analog .hand.second {
  width: 3px;
  height: 45%;
  background-color: red;
}
.analog .hand.minute {
  width: 7px;
  height: 40%;
  background-color: black;
}
.analog .hand.hour {
  width: 10px;
  height: 35%;
  background-color: black;
}

.clocks {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}
.clock {
  height: 500px;
  padding: 40px 35px;
  margin: 50px 30px 50px 20px;
  border: 1px solid white;
  border-radius: 1em;
}

@media (max-width: 1250px) {
  .clocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .clock {
    width: 370px;
  }
  .analog {
    /* padding-left: 40px; */
  }
}
@media (max-width: 860px) {
  .clocks {
    display: grid;
    grid-template-columns: 1fr;
  }
  .clock {
    margin-bottom: 0px;
  }
}
@media (max-width: 400px) {
  .clock {
    border: none;
    margin-top: 20px;
    padding-bottom: 0;
  }
}
