/*  #222831 -- darkest blue
    #30475e -- medium blue
    #f2a365 -- orange peace for headings or underlines 
    #ececec -- white compulsory
*/
@import url("clock_styling.css");/*import analog clock css*/
*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #222831;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #222831;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 9999;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
}

nav a {
    float: left;
    display: block;
    color: #ddd;
    padding: 1.1em;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.tittle-bar {
    padding: 2em;
    background: rgb(31, 27, 27);
    color: #f1f1f1;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    margin: 1em 0 0;
    color: #fff;
}

.underline{
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #f2a365;
}

.navigation-bar{
    padding: 2em;
    background-color: #525861;
    color: white;
}

.box{
    display:grid;
    justify-content: center;
}
.box select{
    background: #2f3640;
    overflow: hidden;
    color: #fff;
    padding: .8em;
    width: 300px;
    font-size: 1em;
    border: none;
    border-radius: 5pt;
    outline: none;
}

/*Analog clock styling*/
#clock{
    width: 500px;
    margin: auto;
    margin-top: .8em;
    padding: .3em 1em;
    font-size: 4em;
    border: 2px solid white;
    border-radius: 5pt;
    text-align: center;
    color: white;
}

#alignment{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-top: 4em;
}

.clocks{
    display: flex;
    margin-bottom: 5em;
}
.clock{
	padding:3em;
	margin:3em;
	border:1px solid white;
	border-radius: 5pt;
}

.india, .japan, .chicago{
    display: flex;
	flex-direction: column;
	justify-content: center;
}
.analog-country{
    display:flex;
	flex-direction: column;
    align-items: center;
    padding-top: 1em;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	color: white;
}
.analog-country h3{
    border-bottom: 1px solid #fff;
	margin-bottom:0.8em;
}

.faq{
    color: #ececec;  
    text-decoration: underline;
    text-decoration-color: #f2a365;
    font-size: 30px;
    padding: 0 2em;
}


.container {
    max-width: 60%;
    margin: 2em auto;
    padding: 1em 0 2em;
}

.acc {
    border-bottom: 1px solid #fff;
    border-radius: 5pt;
    overflow: hidden;

}

.acc h3 {
    font-size: 1.5em;
    font-weight: 400;
    background-color: rgba(0,0,0,1);
    color: #fff;
    padding: 1em;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1em;
    position: relative;

}

.acc h3:after {
    content: '+';
    position: absolute;
    right: .8em;
    font-size: 1em;
    top: 50%;
    transform: translateY(-50%);
}

.acc.active h3:after {
	content: '-';
}

.content {
    background-color: #ececec;;
    display: none;
}

.content-inner {
    padding: 1em;
    text-align: justify;
}

.content-inner p{
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.8);
}

.content * {
    margin-top: 0;
    line-height: 1.5;
}

#map{
    width: 80%;
    margin: 2em auto 10em;
    height: 400px;
    padding: 1em;
}


/*Footer section*/
footer{
    text-align: center;
    color:rgb(51, 153, 255);
    margin-bottom: 3em;
}

footer .contact span{
    font-size: 2em;
    border-bottom: 1px solid gray;
}
a .fa{
    font-size: 1.5em;
    color:rgb(51, 153, 255);
    width:40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 1em;
}

a .fa:hover {
    color: #ddd;
}