<<<<<<< HEAD
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: antiquewhite;
}
nav{
    height: 50px;
    display: block;
    width: auto;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: #525861;
    text-align: center;
}
.nav{
    color: white;
}
header{
    background-color: #2f3640;
    color: aliceblue;
    text-align: center;
    padding: 25pt;
    font-size: 25px;
}
.box{
    position: relative;
    align-self: center;
    
}
.box select{
    background: #2f3640;
    color: antiquewhite;
    padding: 10px;
    width: 250px;
    margin-top: 5px;
    font-size: 15px;
    border: none;
    border-radius: 7pt;
    outline: none;
}
p{
    text-align: center;
    font-size: 50px;
    font-family: 'Righteous',cursive;
    color: rgb(150,150,150);
}
=======
/*  #222831 -- darkest blue
    #30475e -- medium blue
    #f2a365 -- orange peace for headings or underlines 
    #ececec -- white compulsory */
    *{
        margin: 0%;
        padding: 0%;
    }
    body{
        background-color: #222831;
    }
    nav{
        height: 50px;
        display: block;
        padding-top: 50px;
        width: auto;
        margin: 0 auto;
        text-transform: uppercase;
        background-color: #525861;
        text-align: center;
    }
    .nav{
        color: white;
    }
    /* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  .main {
    margin-top: 30px; 
  }
    header {
        padding: 50px 16px 10px;
        background: rgb(31, 27, 27);
        color: #f1f1f1;
        text-align: center;
      }
    .underline{
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: #f2a365;
    }
    .box{
        position: relative;
        align-self: center;
        
    }
    .box select{
        background: #2f3640;
        color: antiquewhite;
        padding: 10px;
        width: 250px;
        margin-top: 5px;
        font-size: 15px;
        border: none;
        border-radius: 7pt;
        outline: none;
    }
    p{
        text-align: center;
        font-size: 50px;
    }
    .faq{
        color: #ececec;
        margin: 5%;
        text-decoration: underline;
        text-decoration-color: #f2a365;
        font-size: 30px;
    }
    #clock{
        width: 600px;
        margin-left: 30%;
        margin-top: 3%;
        margin-bottom: 2%;
        font-size: 70px;
        border: 2px solid white;
        align-items: center;
        text-align: center;
        align-items: center;
        color: white;
    }
    #map{
    width: 70%x;
    height: 400px;
    padding: 18px;
    margin-left: 100px;
    margin-right: 100px;
    }
>>>>>>> upstream/master
