/*  #222831 -- darkest blue
    #30475e -- medium blue
    #f2a365 -- orange peace for headings or underlines 
    #ececec -- white compulsory */

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #222831;
}

nav {
    display: block;
    padding: 1.5rem 0;
    width: auto;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: #525861;
    text-align: center;
}

.nav {
    color: white;
}


/* The navigation bar */

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    margin-top: 30px;
}

header {
    padding: 50px 16px 10px;
    background: rgb(31, 27, 27);
    color: #f1f1f1;
    text-align: center;
}

.underline {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #f2a365;
}

.box {
    position: relative;
    align-self: center;
}

.box select {
    background: #2f3640;
    color: antiquewhite;
    padding: 10px;
    width: 250px;
    margin-top: 5px;
    font-size: 15px;
    border: none;
    border-radius: 7pt;
    outline: none;
}

p {
    text-align: center;
    font-size: 50px;
}

.faq {
    color: #ececec;
    margin: 5%;
    text-decoration: underline;
    text-decoration-color: #f2a365;
    font-size: 30px;
}

#clock-wrapper {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clock {
    padding: 2rem 3rem;
    font-size: 5rem;
    border: 2px solid white;
    align-items: center;
    text-align: center;
    color: white;
}

#map-wrapper {
    padding: 0 2rem 2rem;
}

#map {
    height: 80vw;
    max-height: 700px;
    min-height: 400px;
}

@media screen and (max-width: 767px) {
    #clock {
        font-size: 3rem;
        padding: 1rem;
    }

    #map-wrapper {
        padding: 0 1rem 1rem;
    }
}

@media screen and (max-width: 479px) {
    #clock {
        font-size: 2rem;
    }
}
